<mat-drawer-container [hasBackdrop]="false">
    <mat-drawer
            class="min-w-[800px]"
            #drawer
            [mode]="'push'"
            [position]="'end'"
    >


        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 sticky top-0 z-10">
                <tr>
                    <th scope="col" class="p-6">
                        №
                    </th>
                    <th scope="col" class="p-6">
                        Харажат
                    </th>
                    <th scope="col" class="p-6">
                        Сони
                    </th>
                    <th scope="col" class="p-6">
                        Нархи
                    </th>
                    <th scope="col" class="p-6">
                        Суммаси
                    </th>
                </tr>
                </thead>
                <tbody>
                    @for (item of data; track data; let index = $index) {
                        <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                            <td class="p-6">
                                {{ index + 1 }}
                            </td>
                            <th scope="row" class="p-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{ item.name }}
                            </th>
                            <td class="p-6">
                                {{ item.count }}
                            </td>
                            <td class="p-6">
                                {{ item.price }}
                            </td>
                            <td class="p-6">
                                {{ item.price * item.count }}
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </mat-drawer>
    <mat-drawer-content class="grid place-items-center h-screen bg-[url('/assets/img/bg-grass.jpg')]">
        <div class="flex gap-1">
            <div class="flex flex-col gap-1">
                @for (i of [7, 6, 5, 4]; track i) {
                    <button
                            (click)="drawer.open()"
                            class="w-[60px] h-[161.4px] hover:scale-[1.03] duration-100 bg-[url('/assets/img/bg-container-vertical.png')] bg-no-repeat bg-center bg-cover text-xl text-white font-medium flex-shrink-0"
                    >{{ i }}</button>
                }
            </div>

            <div class="flex flex-col justify-between">
                <div class="flex gap-1">
                    @for (i of [8, 9, 10, 11, 12]; track i) {
                        <button
                                (click)="drawer.open()"
                                class="w-[161.4px] h-[60px] hover:scale-[1.03] duration-100 bg-[url('/assets/img/bg-container.png')] bg-no-repeat bg-center bg-cover text-xl text-white font-medium flex-shrink-0"
                        >{{ i }}</button>
                    }
                </div>
                <div class="flex gap-1">
                    @for (i of [3, 2, 1, 18, 17]; track i) {
                        <button
                                (click)="drawer.open()"
                                class="w-[161.4px] h-[60px] hover:scale-[1.03] duration-100 bg-[url('/assets/img/bg-container.png')] bg-no-repeat bg-center bg-cover text-xl text-white font-medium flex-shrink-0"
                        >{{ i }}</button>
                    }
                </div>
            </div>

            <div class="flex flex-col gap-1">
                @for (i of [13, 14, 15, 16]; track i) {
                    <button
                            (click)="drawer.open()"
                            class="w-[60px] h-[161.4px] hover:scale-[1.03] duration-100 bg-[url('/assets/img/bg-container-vertical.png')] bg-no-repeat bg-center bg-cover text-xl text-white font-medium flex-shrink-0"
                    >{{ i }}</button>
                }
            </div>

        </div>
    </mat-drawer-content>
</mat-drawer-container>
